@{
    ViewBag.Title = "Home Page";
}
<br>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div id="postTweetForm" class="card bg-light" style="max-width: 30rem;" hidden>
            <form class="text-center border border-light p-4" id="tweetData">

                <p class="h4 mb-4">Share your own #NowPlaying</p>

                <!-- Message -->
                <div class="col-xl-12">
                    <textarea id="message" class="form-control mb-3" rows="2" placeholder="Message"></textarea>
                </div>

                <!-- Video Url -->
                <div class="col-xl-12">
                    <input type="url" id="videoUrl" class="form-control mb-3" placeholder="Video Url">
                </div>

                <!-- Send button -->
                <div class="col-xl-12">
                    <button class="btn btn-info" type="submit">Tweet to #NowPlaying</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
<br>
<div class="row" style="background-color: #eaebed">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div id="tweetFeed">

        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>



